/TestJsp/build/
/TestJsp/dist/
/TestJsp2/nbproject/private/
/TestJsp2/build/
/TestJsp2/dist/
/FirstJspProject/nbproject/private/
/FirstJspProject/build
/FirstJspProject/dist/
/TestNetben8.2/nbproject/private/
/TestNetben8.2/dist/
/TestNetben8.2/build/
/examJsp/nbproject/private/
/examJsp/build/
/examJsp/dist/
/dbCrued/nbproject/private/
/dbCrued/build/
/dbCrued/dist/
/FirstJspProject - Copy/build/
/FirstJspProject - Copy/dist/
/FirstJspProject - Copy/nbproject/private/
/examPreparetion/nbproject/private/
/examPreparetion/build/
/examPreparetion/dist/
